.ipynb_checkpoints/
_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
*.dll
__pycache__/
*.py[cod]
.venv/

# Hugo and Blowfish theme
public/
resources/
mywebsite/resources/

# Image optimize output
tools/**/*.jpg
tools/**/*.jpeg
tools/**/*.png
tools/**/*.webp